body	{
	margin:0;
	padding:0;
	background: #FFFFFF url('../images/bg.png') no-repeat 75% 10%;
	font-family: Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bolder;
	text-shadow: #75787c 0 -1px 0;
	color: #FFFFFF;
}
a img {
	border:0;
}
#content {
	text-align:center;
	margin-top:70px;
}

/**view portfolio button sprite**/
#view_port {	
	text-align: center;
	margin-top:50px;
	padding:0; 
}
#view_port p {
	text-indent: -9999em; /*move text link off screen*/
}
#view_port a {
	display: block; /* Change anchor to block element */
	width: 192px;
	height: 38px; /* Specify width and height of the image. Height is value of each button state */
	background: url(../images/button.png) no-repeat;
}

#view_port a:hover {
	background-position: bottom;
}
/**end button styles**/

#social {
	margin-top:20px;
}
#social a	{
	padding:5px;
}