// --- navbar ------------------------------------------------------------------

.navbar {
  z-index: 10;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  text-transform: uppercase;
  font-size: 16px;

  &__container {
    @extend %container;
    box-sizing: border-box;
  }

  &__brand {
    float: left;
  }

  &__nav {
    float: right;
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__menu-item {
    display: inline-block;
    vertical-align: top;
    padding-left: 60px;
    transition: all .4s;

    &:first-child {
      padding-left: 0;
    }
  }

  &__brand,
  &__menu-link {
    border-bottom: 2px solid rgba($color-red, 0);
    transition: border .2s ease-in-out;

    &:hover {
      border-bottom-color: $color-red;
    }
  }

  @include tablet {
    &__menu-item {
      padding-left: 30px;
    }
  }

  @include mobile {
    text-align: center;

    &__brand,
    &__nav {
      float: none;
    }

    &__brand {
      margin-bottom: 20px;
    }

    &__nav {
      padding-top: 20px;
    }
  }
}
