// --- sections ----------------------------------------------------------------

.section {
  overflow: hidden;

  &__container {
    @extend %container;
    @extend %clearfix;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 800px;
    min-height: 100vh;
    position: relative;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 22px;
  }

  &__footer-link {
    font-size: 14px;
    font-weight: 300;
    font-family: $font-family-alternate;
    font-style: italic;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 40px;
      height: 2px;
      background: $color-red;
      transition: width .3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

// --- sections: intro ---------------------------------------------------------

.section--intro {
  background-image: url('images/intro-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-primary;
  color: $color-white;

  .section__title {
    @extend %vertical-alignment;
    max-width: 70%;
    font-size: 80px;
    font-family: $font-family-alternate;
    font-style: italic;
    letter-spacing: 2px;
    line-height: 1.125;
    transition: all .4s;
  }

  .section__footer-link {
    @include translateX(-50%);
    position: absolute;
    bottom: 30px;
    left: 50%;

    &:after {
      @include translateX(-50%);
      left: 50%;
    }
  }

  @include tablet {
    .section__title {
      max-width: none;
      font-size: 60px;
    }
  }

  @include mobile {
    background-image: none;

    .section__container {
      min-height: 0;
      padding-top: 30px;
      padding-bottom: 100px;
    }

    .section__title {
      @include reset-vertical-alignment;
      font-size: 40px;
    }
  }
}

// --- sections: base ----------------------------------------------------------

$section--content-width: 440px;

%section--base,
.section--base {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .section__column-left,
  .section__column-right {
    transition: all .4s;
  }

  .section__column-left {
    width: $section--content-width;
    float: left;
  }

  .section__column-right {
    float: right;
  }

  .section__title,
  .section__body {
    margin-bottom: 30px;
  }

  .section__body {
    letter-spacing: .5px;
    line-height: 1.25;
  }

  .section__image {
    display: block;
    position: absolute;
    right: -100px;
    bottom: 0;
    width: calc(100% - #{$section--content-width});
  }

  @include tablet {
    .section__container {
      min-height: auto;
    }

    .section__column-left,
    .section__column-right {
      width: 100%;
      float: none;
    }

    .section__column-left {
      margin-bottom: 40px;
    }

    .section__image {
      width: 100%;
      position: static;
    }
  }

  @include mobile {
    .section__container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}

// --- sections: base light ----------------------------------------------------

%section--light,
.section--light {
  text-shadow: none;

  .section__footer-link {
    color: $color-black;
  }
}

// --- sections: project-wimdu -------------------------------------------------

.section--project-wimdu {
  @extend %section--base;
  background-image: url('images/project-bg-wimdu.jpg');
  background-color: #006cb7;
  color: $color-white;

  @include mobile {
    .section__container {
      min-height: 80vh;
    }
  }
}

// --- sections: project-soundcloud --------------------------------------------

.section--project-soundcloud {
  @extend %section--base;
  @extend %section--light;

  @include tablet {
    .section__container {
      padding-bottom: 0;
    }
  }
}

// --- sections: project-waymate -----------------------------------------------

.section--project-waymate {
  @extend %section--base;
  background-image: url('images/project-bg-waymate.jpg');
  background-color: #b4c1d1;
  color: $color-white;
}

// --- sections: contact -------------------------------------------------------

.section--contact {
  @extend %section--base;
  @extend %section--light;

  .section__column-left {
    width: 40%;
  }

  .section__column-right {
    max-width: 600px;
    width: 55%;
  }

  @include tablet {
    .section__column-left,
    .section__column-right {
      max-width: none;
      width: 100%;
    }
  }
}

// --- sections: blog ----------------------------------------------------------

.section--blog {
  @extend %section--base;
  background-image: url('images/blog-bg.jpg');
  color: $color-white;

  .section__body {
    font-size: 36px;
    letter-spacing: 1px;
    line-height: 1.25;
  }
}
