// --- sections ----------------------------------------------------------------

.section {
  overflow: hidden;

  &__container {
    @extend %container;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 700px;
    min-height: 80vh;
    position: relative;
  }

  &__image {
    position: absolute;
    right: -100px;
    bottom: 0;
    max-width: 70%;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 22px;
  }

  &__footer-link {
    font-size: 14px;
    font-weight: 300;
    font-family: $font-family-alternate;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 40px;
      height: 2px;
      background: $color-red;
      transition: width .3s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

// --- sections: intro ---------------------------------------------------------

.section--intro {
  background-image: url('images/intro-bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .section__container {
    padding-top: 160px;
  }

  .section__title {
    max-width: 70%;
    font-size: 80px;
    font-family: $font-family-alternate;
    letter-spacing: 2px;
    line-height: 1.125;
  }

  .section__footer-link {
    @include translateX(-50%);
    position: absolute;
    bottom: 30px;
    left: 50%;

    &:after {
      @include translateX(-50%);
      left: 50%;
    }
  }
}

// --- sections: base ----------------------------------------------------------

%section--base,
.section--base {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  .section__title,
  .section__body {
    margin-bottom: 30px;
  }

  .section__body {
    max-width: 440px;
    letter-spacing: .5px;
    line-height: 1.25;
  }
}

// --- sections: base light ----------------------------------------------------

%section--light,
.section--light {
  background-color: $color-white;
  color: $color-black;
  text-shadow: none;

  .section__footer-link {
    color: $color-black;
  }
}

// --- sections: project-wimdu -------------------------------------------------

.section--project-wimdu {
  @extend %section--base;
  background-image: url('images/project-bg-wimdu.jpg');
  background-color: #006cb7;
}

// --- sections: project-soundcloud --------------------------------------------

.section--project-soundcloud {
  @extend %section--base;
  @extend %section--light;
}

// --- sections: project-waymate -----------------------------------------------

.section--project-waymate {
  @extend %section--base;
  background-image: url('images/project-bg-waymate.jpg');
  background-color: #b4c1d1;
}

// --- sections: contact -------------------------------------------------------

.section--contact {
  @extend %section--base;
  @extend %section--light;
}

// --- sections: blog ----------------------------------------------------------

.section--blog {
  @extend %section--base;
  background-image: url('images/blog-bg.jpg');

  .section__body {
    max-width: 70%;
    font: 80px $font-family-alternate;
    letter-spacing: 2px;
    line-height: 1.125;
  }
}
