// --- navbar ------------------------------------------------------------------

body {
  font: 18px $font-family;
  color: $color-white;
  background: $color-primary;
}

p {
  margin: 0;
}

a {
  color: $color-white;
  text-decoration: none;
}
