// --- navbar ------------------------------------------------------------------

body {
  font: 16px $font-family;
  color: $color-black;
  background: $color-white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  margin: 0;
}

a {
  color: $color-white;
  text-decoration: none;
}
