// --- colors ------------------------------------------------------------------

$color-black:             #373f52 !default;
$color-white:             #fff !default;
$color-red:               #F95A66 !default;

// --- font --------------------------------------------------------------------

$font-family:            'PT Sans', sans-serif !default;
$font-family-alternate:  'Oswald', serif !default;

// --- page --------------------------------------------------------------------

$page-width:              1240px !default;

// --- breakpoints -------------------------------------------------------------

$breakpoint-tablet:       1024px !default;
$breakpoint-mobile:       768px !default;
