/*	by Fabe for Victoria Leontieva
	fabe.im
	01/30/14
*/
html {
    height: 100%;
}
body {
    font: 0.8em/1.4em 'Lato', Helvetica, Arial, sans-serif;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-rendering: optimizelegibility;
    color: #696B6F;
    background: #fff;
}
a {
    color: inherit;
}
h1 {
    position: absolute;
    width: 100%;
    font-size: 6em;
    line-height: 1.3;
    font-weight: 300;
    text-align: center;
    display: block;
    top: 28%;
	letter-spacing: 0.8px;
	text-transform: uppercase;
}
h2 {
    font-size: 1em;
    line-height: 1.6;
    text-transform: uppercase;
    color: #43454B;
    font-weight: 900;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
}
p	{
	line-height:30px;
	font-size: 1.2em;
}

h1:before, footer:before, section:after {
    content:"";
    display: block;
    height: 1px;
    width: 100%;
    clear: both;
}
header	{
    position: relative;
	background: #1d2122 url(../images/header-bg.jpg) center center no-repeat fixed;
	width: 100%;
    color: #fff;
    margin-bottom: 80px;
    overflow: hidden;
    background-size: 100%;
	min-height: 600px;
	max-height: 680px;
}
nav {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    font-weight: 900;
    padding: 0 20px;
    overflow: hidden;
    clear: both;
    top: 50px;
	text-decoration:none;
	letter-spacing: 0.8px;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    margin-right: 70px;
}
nav ul li:last-of-type {
    margin-right: 0;
}
nav ul a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
nav ul a:hover {
    color: rgba(255, 255, 255, 0.6);
}
#logo {
    float: left;
	font-size: 1.1em;
	letter-spacing: 0.5px;
}
.btn-wrap{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70%;
}
.btn {
    font-weight: 900;
    color: #fff;
    font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 1px;
    margin: 0 auto;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 12px 28px;
    border: white 2px solid;
	background-color: rgba(255, 255, 255, 0)
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.btn:hover {
	background-color: rgba(255, 255, 255, 0.2)


}
.mark-header {
    position: absolute;
    bottom: 3%;
    width: 100%;
}
.mark-header span{
    width: 38px;
    height: 20px;
    display: block;
    margin: 0 auto;
    background: transparent url(../images/mark-header.png) center center no-repeat;
}
.mark-footer {
    width: 22px;
    height: 23px;
    display: block;
    margin: 35px auto 25px;
    background: transparent url(../images/mark-footer.png) center center no-repeat;
}
section {
    max-width: 800px;
    width: auto;
    margin: 0 auto 100px;
    clear: both;
    padding: 0 20px;
}
section:last-of-type {
    margin: 0 auto 80px;
}
section figure {
    width: 300px;
    height: 210px;
}
.browser {
    background: transparent url(../images/ill-browser.png) center center no-repeat;
}
.moleskine {
    background: transparent url(../images/ill-moleskine.png) center center no-repeat;
}
.text {
    max-width: 60%;
    width: auto;
}
footer {
    width: 100%;
    text-align: center;
    background: #364a6f;
    padding: 55px 10px 20px;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
footer h2 {
    color: #fff;
}
footer p {
    color: #fff;
    opacity: .7;
}
footer a {
    color: #35aade;
    border-bottom: 1px solid rgba(53, 170, 222, .7);
	-webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
footer a:hover	{
	color: #3cbbf4;
	border-bottom: 1px solid rgba(60, 187, 244, 1);
}
.email {
    width: 98px;
    height: 92px;
    background: transparent url(../images/ill-email.png) center center no-repeat;
    margin: 0 auto 30px;
}
.copyright {
    color: #283348;
    font-weight: normal;
	font-size:.9em;
}
.copyright a {
    color: inherit;
    border-bottom-color: rgba(40, 51, 72, .9);
}
.copyright a:hover	{
	color: inherit;
	border-bottom-color:inherit;
}
.copyright span {
    margin-left: 15px;
}
.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
    text-align: left;
}
@media screen and (max-width: 980px) {
	header{
        background-image: url(../images/header-bg-mob.jpg);
        background-size: auto;
        background-position: center top !important;
    }
    h1{
        top: 32%;
        font-size: 4em;
    }
	h2	{
		font-size: 1em;
	}
    nav{
        padding: 0 5%;
    }
    nav ul li{
        margin-right: 30px;
    }
    .browser,
    .moleskine {
        width: 40%;
    }
}
@media only screen and (max-width : 767px) {
    section figure {
        width: 100%;
        margin: 40px auto;
        float: none;
        background-position: center center !important;
    }
    section figure:before {
        content:"";
        display: block;
        height: 1px;
        width: 100%;
        clear: both;
    }
	section:last-of-type {
	    margin: 0 auto 40px;
	}
    section {
        margin: 0 auto 10px;
    }
    section p, section h2 {
    	text-align: center !important;
    }
    .right {
        text-align: left;
    }
    .text {
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }
    .browser,
    .moleskine {
        width: 100%;
    }
}
@media only screen and (max-width : 480px) {
    #logo {
        float: none;
        margin: 10px auto 25px;
        text-align: center;
    }
    nav {
        position: absolute;
        width: 100%;
        padding: 0;
        top: 5%;
		font-size: 1em;
    }
    nav ul {
        float: none;
        margin: 10px auto;
        text-align: center;
    }
    nav ul li {
        display: block;
        margin: 20px 0;
    }
    h1{
        top: 38%;
		font-size: 3.4em;
    }

    .copyright span {
        display: block;
        margin: 0;
    }
    section {
        margin: 0 auto 20px;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
    /* Retina CSS */
    .mark-header {
        background: transparent url(../images/mark-header@2x.png) center center no-repeat;
        background-size: 38px 20px;
    }
    .browser {
        background: transparent url(../images/ill-browser@2x.png) right center no-repeat;
        background-size: 248px 210px;
    }
    .moleskine {
        background: transparent url(../images/ill-moleskine@2x.png) left center no-repeat;
        background-size: 244px 184px;
    }
    .email {
        background: transparent url(../images/ill-email@2x.png) center center no-repeat;
        background-size: 98px 92px;
    }
    .mark-footer {
        background: transparent url(../images/mark-footer@2x.png) center center no-repeat;
        background-size: 22px 23px;
    }
}